@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Banners and Headers*/
.header-banner,
header,
h1 {
  background-color: #c0ded9;
}

.header-banner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
header {
  height: auto;
  width: auto;
}

header h1 {
  color: #b2c2bf;
  -webkit-text-stroke: 1px #3b3a30;
  text-shadow: 2px 2px #3b3a30;
  font-family: "Space Mono", monospace;
  font-size: 47px;
}

/*Input Box*/
.toDoInput,
.list-container,
footer {
  background-color: eaece5;
}

.toDoInput {
  display: flex;
  align-content: flex-end;
  justify-content: space-evenly;
  max-width: 80%;
  margin: 3% auto;
  border: solid #3b3a30 1px;
  background-color: #b2c2bf;
}

#toDoItem {
  width: 80%;
  min-height: fit-content;
}

label {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  vertical-align: bottom;
}

/*List*/
.list {
  display: flex;
  align-items: center;
}

.list-container {
  width: 80%;
  min-height: fit-content;
  margin: 1% auto;
  padding: 1%;
}

.list-row {
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
}

.list-element {
  background-color: #c0ded9;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 90%;
  min-height: fit-content;
  border: solid #3b3a30 3px;
}

/*Buttons*/
button {
  display: inline-block;
  border: 0;
  background: none;
  margin: 0 auto;
  overflow: auto;
  width: auto;
  height: auto;
}

.add-button .check-button {
  position: absolute;
  vertical-align: auto;
}
.remove-button {
  position: static;
  vertical-align: auto;
}

/* Icons */
.bi-check-square {
  font-size: 2em;
  color: slateblue;
}
.bi-plus-square {
  font-size: 2em;
  color: green;
}
.bi-x-square {
  font-size: 2em;
  color: red;
}
